

<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:true" style="padding:2px;">
    <form id="background_partner_details_form" style="width:100%;height:100%" ;>
        <div id="background_partner_details_tool_div" style="padding:15px;">
            <input type="hidden" name="ID" id="background_partner_details_ID" value="@ViewBag.ID" />
            <div style="margin-bottom:10px">
                <select name="iType" class="easyui-combobox" style="width:100px;" data-options="panelHeight:'auto'">
                    <option value="-1">全部</option>
                    <option value="1">提现</option>
                    <option value="3">退款</option>
                    <option value="4">提成收入</option>
                </select>
            </div>
            <div style="margin-bottom:10px">
                <input type="hidden" id="background_partner_details_dValidDateStart" name="dValidDateStart" />
                <input type="hidden" id="background_partner_details_dValidDateEnd" name="dValidDateEnd" />

                <a href="#" class="easyui-linkbutton" id="background_partner_details_a_all" data-options="iconCls:'icon-sum'">全部</a>
                <a href="#" class="easyui-linkbutton" id="background_partner_details_a_today" data-options="iconCls:'icon-sum'">今日</a>
                <a href="#" class="easyui-linkbutton" id="background_partner_details_a_yesterday" data-options="iconCls:'icon-sum'">昨日</a>
                <a href="#" class="easyui-linkbutton" id="background_partner_details_a_week" data-options="iconCls:'icon-sum'">最近一周</a>
                <a href="#" class="easyui-linkbutton" id="background_partner_details_a_month" data-options="iconCls:'icon-sum'">最近一月</a>
                &emsp;
                <span>下单时间：<input id="background_partner_details_input_dValidDateStart" readonly="readonly" onclick="modules.get('cache').getCache('laydate').laydate({ istime: false, format: 'YYYY-MM-DD' })" class="textbox" style="height:20px;" /></span>
                ---
                <span><input id="background_partner_details_input_dValidDateEnd" readonly="readonly" onclick="modules.get('cache').getCache('laydate').laydate({ istime: false, format: 'YYYY-MM-DD' })" class="textbox" style="height:20px;" /></span>
                &emsp;&emsp;
                <a id="background_partner_details_btn_seach" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
            </div>
        </div>

        <table id="background_partner_details_datagrid"></table>
    </form>
</div>


