<script src="~/Areas/Admin/Scripts/RoleManage/Index.js"></script>
<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:true" style="padding:2px;">
    <form id="role_form" style="width:100%;height:100%;">
        <table id="role_grid"></table>
        <div id="role_grid_tool" style="padding:15px;display:none;">
            角色名字：<input class="easyui-textbox" name="sRoleName" data-options="width:160,validType:['maxLength[20]']" /> @Html.Partial("~/Areas/Admin/Views/Shared/_Button.cshtml")
        </div>
    </form>
</div>
