
@model Framework.DTO.EHECD_TravelsNotesDTO
<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:true" style="padding-left:2px; padding-top:1px;margin:1px">
    <form style="width:99%;height:99%;" id="travelNote_edit_order_form">
        <input type="hidden" value="@Model.ID" id="travelNote_edit_order_ID" name="ID" />
        <table class="styletable" style="height:100%">
            <tbody>
                <tr>
                    <td>标题：</td>
                    <td><span>@Model.sTitle</span></td>
                </tr>
                <tr>
                    <td>作者:</td>
                    <td>
                        <span>@Model.sAuthor</span>
                    </td>
                </tr>
                
                <tr>
                    <td>排序编号：</td>
                    <td>
                        <input name="iOrder" class="easyui-textbox" missingMessage="请填写编号" data-options="required:true,validType:['isNumber']" id="travelNote_edit_order_iOrder" value="@Model.iOrder"/>
                    </td>
                </tr>

            </tbody>
        </table>
    </form>
</div>