
<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:true" style="padding-left:2px; padding-top:1px;margin:1px">
    <form style="width:99%;height:99%;" id="travelNote_setting_form">
        <table class="styletable" style="height:100%">
            <tbody>
                <tr>
                    <td>添加店铺：</td>
                    <td>
                        <input id="travelNote_setting_shops_input" style="width:300px" name="Shops"/>
                    </td>
                </tr>
                <tr>
                    <td>筛选店铺：</td>
                    <td>
                        <div id="travelNote_setting_shops_div" style="width:100%;height:100%"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>