//����less���ø��ļ�ʱ
//@charset "utf-8";   ��������
//@import "MrG_lib";    ����
//@import (reference) "MrG_lib";   ֻ�ǵ��õ�ʱ�����ɣ���������ȫ��



*{
  padding: 0px;
  margin: 0px;
}
ul,ol{list-style:none}
a{text-decoration: none;}
//input[type=text]{border: none;outline:none;font-size: inherit;}
input[type=password]{border: none;outline:none;font-size: inherit;}
button{border: none;background: none;outline:none;}
//body{
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//}
/***user-select:none**/
.GuserSelect{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**fontSize*/
.Gfontsize-12{font-size:12px;}
.Gfontsize-14{font-size:14px;}
.Gfontsize-16{font-size:16px;}
.Gfontsize-18{font-size:18px;}
.Gfontsize-20{font-size:20px;}
.Gfontsize-30{font-size:30px;}
/*****display*/
.Gdisplay-block{display: block}
.Gdisplay-inline{display: inline-block}
.Gdisplay-none{display: none;}
.Gdisplay-flex{display: flex;display: -webkit-flex;}
/**position***/
.Gposition-re{position:relative;}
.Gposition-re-100{position:relative;z-index:100;}
.Gposition-re-50{position:relative;z-index:50;}
.Gposition-re-30{position:relative;z-index:30;}
.Gposition-fix-bottom-300{position:fixed;bottom:0;z-index:300;}
.Gposition-fix-top-300{position: fixed;top:0;z-index:300;}
.Gposition-ab-bottom-30{position:absolute;bottom:0;z-index: 30;}
/**show and hide****/
.Gshow{display: block}
.Ghide{display: none}
/**outline***/
.Goutline-no{outline:none}
.Goutline-1{outline: 1px solid}
.Goutline-2{outline: 2px solid}
/**border*/
.Gborder-no{border: none}
.Gborder-1{border:1px solid}
.Gborder-2{border:2px solid}
/**border-radius***/
.GborderRadius-1{border-radius:1px;}
.GborderRadius-2{border-radius:2px;}
.GborderRadius-3{border-radius:3px;}
.GborderRadius-4{border-radius:4px;}
.GborderRadius-5{border-radius:5px;}
.GborderRadius-6{border-radius:6px;}
.GborderRadius-50{border-radius:50%;}
.GborderRadius-50px{border-radius:50px;}
.GborderRadius-100{border-radius:100%;}
/*background-color*/
.Gbgcolor-blue{background-color:#445fcf;}
.Gbgcolor-black{background-color:#212121;}
.Gbgcolor-gray{background-color: #f2f2f2;}
.Gbgcolor-white{background-color: #fff;}
/*text-align**/
.Gtext-align-l{text-align: left;}
.Gtext-align-c{text-align: center;}
.Gtext-align-r{text-align: right;}
/*2���ı�����ʡ��**/
.Gtext-ellipsis-line1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Gtext-ellipsis-line2{
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap:break-word;//ר������Ӣ��
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}
/*border-box**/
.Gboxsizing-border{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/*content-box**/
.Gboxsizing-content{
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
/**��ֱ����*****/
.Gmiddle-y{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.Gmiddle-x{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/***checkBox ȥ��Ĭ��ѡ��**/
.Gappearance{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}





/**Gfunction     this is my less functions ,**/
//font  ��
.Gfont(@fontsize:inherit,@color:black,@fontfamily:inherit,@fontweight:inherit){   //��С  ��ɫ  ��ʽ  ����
  font-size: @fontsize;
  color: @color;
  font-family: @fontfamily;
  font-weight: @fontweight;
}
//�������Ƴ�ʡ�Ժ�
.Gtext-ellipsis-line(@lineNo:1){       //��Ҫ���Ƶ�����
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap:break-word;
  display: -webkit-box;
  -webkit-line-clamp: @lineNo;
  -webkit-box-orient: vertical
}
//round  Բ
.Ground(@size:auto,@bgcolor:rgba(0,0,0,0),@border:none){  //��С ��ɫ �߿�
  display: block;
  width: @size;
  height: @size;
  border-radius: 50%;
  background-color: @bgcolor;
  border: @border;
  .Gboxsizing-border;
}
//round in round  Բ��Բ  - -
.GroundInRound(@border:none,@size:auto,@bgcolor:none,@inBorder:none){   //��Բ�߿�   ��Բ��С   ��Բ��ɫ  ��Բ�߿���ɫ
  display: inline-block;
  border: @border;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  height: auto;
  font-size: 0;
  box-sizing: border-box;
  &:after{
    content: "";
    .Ground(@size,@bgcolor,@inBorder)
  }
}
//����
.Gtriangle(@width:3px,@height:5px,@deg:0){     //width, height,    ��ת����90deg��  180deg��  270deg��
  width:0;
  height:0;
  border-left:@width solid transparent;
  border-right:@width solid transparent;
  border-top:@height solid black;
  transform:rotate(@deg);
  -ms-transform:rotate(@deg); 	/* IE 9 */
  -moz-transform:rotate(@deg); 	/* Firefox */
  -webkit-transform:rotate(@deg); /* Safari �� Chrome */
  -o-transform:rotate(@deg); 	/* Opera */
}
//��������          ��ʹ��input[type==checkbox]         ���ȣ��߶ȣ�����ɫ���л�ʱ����ɫ ���߿�Բ��ɫ���߿��л�ʱ��
.Gswitch(@boxWidth:30px,@boxHeight:15px,@bgcolor:white,@changecolor:#007aff,@border:1px solid darkgray,@roundBgcolro:white,@roundBorder:1px solid gray,@time:.3s){
  width: @boxWidth;
  height:@boxHeight;
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: @bgcolor;
  border:@border;
  user-select: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-appearance: none;  //ȥ��checkbox���ѡ���
  border-radius: 100px;
  position: relative;
  outline: none;
  transition:all @time;
  &:after{
    .Ground(@boxHeight,@roundBgcolro,@roundBorder);
    position: absolute;
    content: "";
    box-sizing: border-box;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:  translateY(-50%);
    border-radius: 50%;
    transition:all @time;
  }
  &:checked:after{
    left: @boxWidth - @boxHeight;
  }
  &:checked{
    background-color: @changecolor;
  }
}
//��ͷ�����- -     ��ʱ���ݲ���IE  (���ȣ��߶ȣ���ɫ�������Ҫ�����ɫ)
.GlineChange(@width:100%,@height:3px,@startcolor:darkgrey,@endcolor:transparent){
  width: @width;
  height: @height;
  &:before{
    content: "";
    display: block;
    float: left;
    width: @width / 2;
    height: @height;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: darkgrey;
    background-image:-webkit-linear-gradient(right,@startcolor , @endcolor);
    background: -moz-linear-gradient(right,@startcolor, @endcolor);
    background: -o-linear-gradient(right,@startcolor, @endcolor);
  }
  &:after{
    content: "";
    display: block;
    float: left;
    width: @width / 2;
    height: @height;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    background-image:-webkit-linear-gradient(left, @startcolor, @endcolor);
    background: -moz-linear-gradient(left,@startcolor, @endcolor);
    background: -o-linear-gradient(left,@startcolor, @endcolor);
  }
}





/**����**/
/**footer*/
//@footer_BackgroundColor:white;          //footer����ɫ
//@footer_houseHeight:0.96rem;            //footer�߶�
//@footer_padding:0.12rem 0.18rem 0;      // footer�ڱ߾�
//@footer_borderTop: 1px solid #eeeeee;     //footer�ϱ߿�
//@footer_borderbottom: 1px solid #eeeeee;   //footer�±߿�
/**ҳ�ŷָ���*/
//.footer-line{
//  width: 100%;
//  margin-bottom:@footer_houseHeight ;
//}
//footer{
//  position:fixed;
//  width: 100%;
//  height: @footer_houseHeight;
//  box-sizing: border-box;
//  left: 0;
//  bottom: 0;
//  border-top: @footer_borderTop;
//  border-bottom: @footer_borderbottom;
//  background-color: @footer_BackgroundColor;
//  padding: @footer_padding;
//}


