<!DOCTYPE html>
<html style="height:100%">
<head lang="en">
    <meta charset="utf-8">
    <title>扫码核销</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--分享使用-->
    <meta itemprop="name" content="" />
    <meta itemprop="description" name="description" content="" />
    <meta itemprop="image" content="img_url" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/global.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/my_css.6.21.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/template.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/NumberBank.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/goujia.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/wangqixin.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/qinliang.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/malong.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/maoyuhao.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/luzhongxiang.css" />
    <link href="~/Content/home.css" rel="stylesheet" />
</head>
<body style="100%">
    <div class="scancont" id="scanner_button_div">
        <img src="~/Areas/Client/Content/images/barcodescan.png" alt="" />
        <h3 class="co333 textc">订单核销</h3>
    </div>
    <div class="edit_address">
        <div class="p_both10 border-b-eee borteee"><input type="text" placeholder="请输入电子码" id="scanner_order_id"></div>
    </div>

    <div class="lzxsure" style="margin-top:45px;"><button type="button" id="bt_cancel_order_ok">确认核销</button></div>

</body>

</html>
@using WeiXin.Base.JsApi;
@model jsapi_config
<script src="~/Areas/Client/Content/lib/jquery.1.11.3.min.js"></script>
<script src="~/Areas/Client/Content/lib/con_js.6.23.js"></script>
<script src="~/Areas/Client/Content/lib/date-choice.js"></script>
<script src="~/Areas/Client/Content/lib/judge.js"></script>
<script src="~/Areas/Client/Content/lib/pinchzoom.min.js"></script>
<script src="~/Areas/Client/Content/lib/swiper.min.js"></script>
<script src="~/Areas/Client/Content/lib/uploadPreview.js"></script>
<script src="~/Areas/Client/Content/script/page.js"></script>
<script src="~/Areas/Client/Content/script/malong.js"></script>
<script src="~/Areas/Client/Content/script/maoyuhao.js"></script>
<script src="~/Areas/Client/Content/script/goujia.js"></script>
<script src="~/Areas/Client/Content/script/qinliang.js"></script>
<script src="~/Areas/Client/Content/script/wangqixin.js"></script>
<script src="~/Areas/Client/Content/script/luzhongxiang.js"></script>
<script src="~/scripts/lib/client.common.js"></script>
<script src="~/scripts/lib/wx.js"></script>
<script>

    $(function () {
        scanner.init();
        scanner.bind();
    });

    var scanner = (function (obj) { return obj; })(new function () {

        function init() {
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: '@Model.appId', // 必填，公众号的唯一标识
                timestamp:@Model.timestamp , // 必填，生成签名的时间戳
                nonceStr: '@Model.nonceStr', // 必填，生成签名的随机串
                signature: '@Model.signature',// 必填，签名，见附录1
                jsApiList:["scanQRCode"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });
        }


        function scanQRCode(){
           
            wx.scanQRCode({
                desc: 'scanQRCode desc',
                needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果
                scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {      
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    $("#scanner_order_id").val(result);
                }

            });
        }

        //电子码的解密处理
        function CodeThd(sOrderNo) {
            var array = sOrderNo;
            var newArray = [];
            for (var i = 0; i < array.length; i++) {
                if (i % 2 == 1) {
                    newArray.push(array[i - 1]);
                }
                else {
                    newArray.push(array[i + 1]);
                }
            }
            return newArray.join('').substr(0, newArray.length - 1);
        }


        function bind() {
            $("#scanner_button_div").bind('click',scanQRCode);
            $("#bt_cancel_order_ok").bind('click', function cancel() {
                var sOrderNo=$("#scanner_order_id").val();
                sOrderNo=CodeThd(sOrderNo);
                common.post("/Client/Merchant/CancelOrder", { sOrderNo:sOrderNo,sShopID :"9D76163A-2FDC-C089-55E7-08D3F98175E7"}, function (res) {
                    alert(res.Data);
                    $("#scanner_order_id").val('');
                    
                }, function () { });
            });
        }
        return {
            init:init,
            bind:bind
        }

    });
</script>