<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>提现记录</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--分享使用-->
    <meta itemprop="name" content="" />
    <meta itemprop="description" name="description" content="" />
    <meta itemprop="image" content="img_url" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/global.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/my_css.6.21.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/template.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/NumberBank.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/goujia.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/wangqixin.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/qinliang.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/malong.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/maoyuhao.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/luzhongxiang.css" />
    <link href="~/Content/home.css" rel="stylesheet" />
    <link href="~/Content/dropload.css" rel="stylesheet" />
    <style>
        .w-TextBox >h4 {
    font-size: 16px;
    color: #f93;
    position: relative;
    top: -2px;
}
        .w-TextBox >h4 p {
    font-size: 12px;
    color: #666;
}
    </style>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/jquery.1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/con_js.6.23.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/date-choice.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/judge.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/pinchzoom.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/swiper.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/uploadPreview.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/page.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/malong.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/maoyuhao.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/goujia.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/qinliang.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/wangqixin.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/luzhongxiang.js"></script>
</head>
<body>
    <div id="CashRecordList" class="w-paddingLeftRight02">
        <script id="CashRecord" type="text/html">
        {{each list as m index}}
        <div class="w-paddingTopBottom02 w-borderBeee w-height1 w-TextBox w-flex">
            <div class="w-flexitem1">
                <h4 class="w-color333 w-font14" style="line-height: .3rem;">收益提现</h4>
                <h4 class="w-color999 w-font14" style="line-height: .3rem;">{{m.dApplyTime}}</h4>
            </div>
            <h4 class="w-floatright  w-font18 w-color333 text-right">
                <!--状态(0-提现审核中 1-通过审核 2-提现成功)-->
                {{if m.iState==0}}
                 <p>提现审核中</p>
                {{/if}}
                {{if m.iState==1}}
                <p>通过审核</p>
                {{/if}}
                {{if m.iState==2}}
                <p>提现成功</p>
                {{/if}}
            ¥{{m.iWithdrawMoney}}
            </h4>
        </div>
        {{/each}}
        </script>
        
    </div>
</body>
</html>
<script src="~/scripts/lib/template.js"></script>
<script src="~/scripts/lib/client.common.js"></script>
<script type="text/javascript">
    $(function () {
        scope.InitCashRecordData();
        scope.bingPage();
    });

    var scope = (function (obj) { return obj; }(new function () {

        /*!
         * 绑定滑动分页
         */
        function bingPage() {
            common.page.initDropLoad(InitCashRecordData);
        }

        /*!
        * 加载提现数据列表
        */
        function InitCashRecordData() {
            common.post("/Client/ShareCenter/LoadCashRecordData",
               {
                   pageIndex: common.page.pagerParam.pageIndex,
                   pageSize: common.page.pagerParam.pageSize,
               }, function (r) {
                
                   var json = { list: r.Data.Result }

                   var html = template("CashRecord", json);
                   $('#CashRecordList').append(html);

                   //没有数据展示
                   if ($('#CashRecordList div').length == 0) {
                       window.noData('#CashRecordList');
                   }
                   common.page.calculationPage(r.Data.MaxCount);
               });
        }

        return {
            InitCashRecordData: InitCashRecordData,
            bingPage: bingPage,
        }

    }));
</script>