

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>分享中心</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--分享使用-->
    <meta itemprop="name" content="" />
    <meta itemprop="description" name="description" content="" />
    <meta itemprop="image" content="img_url" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/global.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/my_css.6.21.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/template.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/NumberBank.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/goujia.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/wangqixin.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/qinliang.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/malong.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/maoyuhao.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/luzhongxiang.css" />
    <link href="~/Content/home.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Areas/Client/Content/lib/jquery.1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/con_js.6.23.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/date-choice.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/judge.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/pinchzoom.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/swiper.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/uploadPreview.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/page.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/malong.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/maoyuhao.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/goujia.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/qinliang.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/wangqixin.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/luzhongxiang.js"></script>
</head>
<body>
    <!--shareCenter-->
    <div class="shareCenter">
        <div class="shareCenter-tittle">
            <p class="shareke">分享客:@ViewBag.sNickName</p>
            <p class="shareke shareke2">我的推荐码:<span style="display:inline-block;line-height:16px;">@ViewBag.sIDCard</span></p>
        </div>
        <div class="justBox"></div>
        <div class="willMoney">
            <p class="willMoney-tittle">预计收益(元)</p>
            <p class="willMoney-content"><span class="willMoney-logo"></span><span class="predIncome">0.00</span></p>
        </div>
        <div class="justBox"></div>
        <div class="shareCenter-Content">
            <div class="coantent-floor">
                <div class="coantent-floor-box PaymentDetail">
                    <p class="floor1 OrderCount"></p>
                    <p class="floor2">分享订单</p>
                </div>
                <div class="coantent-floor-box">
                    <p class="floor1 dPriceCount">0.00<span>元</span></p>
                    <p class="floor2">累计付款金额</p>
                </div>
            </div>
            <div class="shareCenter-Content-line"></div>
            <div class="coantent-floor">
                <div class="coantent-floor-box newlyMember">
                    <p class="floor1 MonthClientCount">0</p>
                    <p class="floor2">本月新增会员</p>
                </div>
                <div class="coantent-floor-box">
                    <p class="floor1 ClientCount">0</p>
                    <p class="floor2">累计会员</p>
                </div>
            </div>
            <div class="shareCenter-Content-line"></div>
            <div class="coantent-floor">
                <div class="coantent-floor-box ShopManagement">
                    <p class="floor3"><img src="~/Areas/Client/Content/images/redLogo1.png" alt=""><span>分享店铺管理</span></p>
                </div>
                <div class="coantent-floor-box Member">
                    <p class="floor3"><img src="~/Areas/Client/Content/images/redLogo2.png" alt="" class="img2"><span>我的会员</span></p>
                </div>
            </div>
            <div class="shareCenter-Content-line"></div>
            <div class="coantent-floor ">
                <div class="coantent-floor-box SharePoster">
                    <p class="floor3"><img src="~/Areas/Client/Content/images/redLogo3.png" alt="" class="img3"><span>我的分享海报</span></p>
                </div>
                <div class="coantent-floor-box Protocol">
                    <p class="floor3"><img src="~/Areas/Client/Content/images/redLogo4.png" alt="" class="img4"><span>分享客须知</span></p>
                </div>
            </div>
            <div class="shareCenter-Content-line"></div>

        </div>
    </div>
</body>
</html>
<script src="~/scripts/lib/client.common.js"></script>
<script type="text/javascript">
    $(function () {
        scope.bingEvent();
        scope.GetShareInfo();
    });

    var scope = (function (obj) { return obj; }(new function () {

        //获取分享客的相关信息
        function GetShareInfo() {
            common.post("/Client/ShareCenter/GetShareInfo", null, function (r) {
                var json = r.Data;
                json.dPriceCount = json.dPriceCount || 0;
                $('.OrderCount').html("" + json.OrderCount + "<span>笔</span>");
                $('.dPriceCount').html("" + json.dPriceCount.toFixed(2) + "<span>元</span>");
                $('.MonthClientCount').text(json.MonthClientCount);
                $('.ClientCount').text(json.ClientCount);
                $('.predIncome').text(json.predIncome.toFixed(2));//预计收入
                common.setStorageItem("_dPriceCount", json.dPriceCount.toFixed(2));
            });
        }

        //绑定事件
        function bingEvent() {

            $('.willMoney').on("click", function () { location.href = "/Client/ShareCenter/AccountCenter" })//结算中心

            $('.Protocol').on("click", function () { location.href = "/Client/ShareCenter/Protocol?sTitle=关于分享客" })//分享客须知

            $('.Member').on("click", function () { location.href = "/Client/ShareCenter/Member" })//我的会员

            $('.ShopManagement').on("click", function () { location.href = "/Client/ShareCenter/ShopManagement" })//分享店铺管理

            $('.SharePoster').on("click", function () { location.href = "/Client/ShareCenter/SharePoster" })//我的分享海报


            $('.newlyMember').on("click", function () { location.href = "/Client/ShareCenter/NewlyMember" })//本月新增会员

            $('.PaymentDetail').on("click", function () { location.href = "/Client/ShareCenter/PaymentDetail" })//收入明细

            
        }



        return {
            bingEvent: bingEvent,
            GetShareInfo:GetShareInfo
        }
    }));

    //cdk复制码前端：

</script>