
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>本月新增会员</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--分享使用-->
    <meta itemprop="name" content="" />
    <meta itemprop="description" name="description" content="" />
    <meta itemprop="image" content="img_url" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/global.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/my_css.6.21.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/template.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/NumberBank.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/goujia.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/wangqixin.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/qinliang.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/malong.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/maoyuhao.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/luzhongxiang.css" />
    <link href="~/Content/home.css" rel="stylesheet" />
    <link href="~/Content/dropload.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Areas/Client/Content/lib/jquery.1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/con_js.6.23.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/date-choice.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/judge.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/pinchzoom.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/swiper.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/uploadPreview.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/page.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/malong.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/maoyuhao.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/goujia.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/qinliang.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/wangqixin.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/luzhongxiang.js"></script>
    <style>
        #newvip .bigbox .box div .head img{height:100%;}
    </style>
</head>
<body>
    <div id="newvip">
            <div id="MemberList" class="bigbox">
                <script id="Member" type="text/html">
                    {{each list as m index}}
                    <div class="box df">
                        <div class="df1">
                            <span class="head"><img src="{{m.sHeadPic}}" /></span>
                            <p class="fs-16">{{m.sNickName}}</p>
                            <p>订单数:<span class="fs-16 ml1r">{{m.OrderCount}}</span></p>
                        </div>
                        <div class="df1 text-right">
                            <p class="fs-16">{{m.sPhone}}</p>
                            <p style="position:absolute;right:0;bottom:0;">总金额:<span class="fs-16 ml1r">&yen;{{m.OrderdPrice}}</span></p>
                        </div>
                    </div>
                    {{/each}}
                </script>
            </div>
        </div>
</body>
</html>
<script src="~/scripts/lib/template.js"></script>
<script src="~/scripts/lib/client.common.js"></script>
<script type="text/javascript">
    $(function () {
        scope.InitNewlyMemberData();
        scope.bingPage();
    });

    var scope = (function (obj) { return obj; }(new function () {
        /*!
         * 绑定滑动分页
         */
        function bingPage() {
            common.page.initDropLoad(InitNewlyMemberData);
        }

        /*!
         * 加载本月新增会员数据列表
         */
        function InitNewlyMemberData() {
            common.post("/Client/ShareCenter/NewlyMemberList",
               {
                   pageIndex: common.page.pagerParam.pageIndex,
                   pageSize: common.page.pagerParam.pageSize,
               }, function (r) {
                   $(r.Data.Result).each(function () {
                       this.OrderdPrice = this.OrderdPrice == null ? 0 : this.OrderdPrice;
                       var array = this.sPhone;
                       this.sPhone = array.substring(0, 3) + "*****" + array.substring(8);
                   });
                   var json = { list: r.Data.Result }
               
                   var html = template("Member", json);
                   $('#MemberList').append(html);

                   //没有数据展示
                   if ($('#MemberList .box').length == 0) {
                       window.noData('#MemberList');
                   }
                   common.page.calculationPage(r.Data.MaxCount);
               });
        }

        return {
            InitNewlyMemberData: InitNewlyMemberData,
            bingPage: bingPage,
        }
      
    }));
</script>