<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>我的分享海报</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--分享使用-->
    <meta itemprop="name" content="" />
    <meta itemprop="description" name="description" content="" />
    <meta itemprop="image" content="img_url" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/global.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/my_css.6.21.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/template.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/NumberBank.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/goujia.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/wangqixin.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/qinliang.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/malong.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/maoyuhao.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/luzhongxiang.css" />
    <style>
        .w-EWMBox {
    width: 100%;
    height: 0;
    padding: 125% .2rem .2rem;
    position: fixed;
    top: 10%;
}
        .w-EWMBox>img {
    display: block;
    position: absolute;
    width: calc(100% - .4rem);
    height: calc(100% - .4rem);
    top: .2rem;
    left: .2rem;
    z-index: 10;
}
        .w-EWM {
    display: block;
    position: absolute;
    width: 1.76rem;
    height: 1.76rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 1rem;
    bottom: 1rem;
    z-index: 11;
}
    </style>

    <script type="text/javascript" src="~/Areas/Client/Content/lib/jquery.1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/con_js.6.23.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/date-choice.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/judge.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/pinchzoom.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/swiper.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/uploadPreview.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/page.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/malong.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/maoyuhao.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/goujia.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/qinliang.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/wangqixin.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/luzhongxiang.js"></script>
</head>
<body class="">
    <div class="w-bgcolorFFF w-EWMBox w-position">
        <img src="@(ViewBag.Img)" alt="" />
        <b id="code" class="w-EWM" ></b>
    </div>
</body>
</html>
<script src="~/scripts/lib/client.common.js"></script>
<script src="~/scripts/plug-in/qrcode/jquery.qrcode.min.js"></script>
<script type="text/javascript">
    $(function () {
        var url ='@ViewBag.dominName'+'/Client/ShareCenter/IntoMemberHandle?ClientId='+'@(ViewBag.ClientId)';
        //二维码的生成
        $("#code").qrcode({
            //render: "html",
            width: 160, //宽度 
            height: 160, //高度 
            text: url  //任意内容 
        });
    });
</script>