<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>6订单确认-3周边确认</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--分享使用-->
    <meta itemprop="name" content="" />
    <meta itemprop="description" name="description" content="" />
    <meta itemprop="image" content="img_url" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../css/my_css.6.21.css" />
    <link rel="stylesheet" type="text/css" href="../css/template.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/NumberBank.css" />
    <link rel="stylesheet" type="text/css" href="../css/goujia.css" />
    <link rel="stylesheet" type="text/css" href="../css/wangqixin.css"/>
    <link rel="stylesheet" type="text/css" href="../css/qinliang.css"/>
    <link rel="stylesheet" type="text/css" href="../css/malong.css"/>
    <link rel="stylesheet" type="text/css" href="../css/maoyuhao.css"/>
    <link rel="stylesheet" type="text/css" href="../css/luzhongxiang.css"/>
</head>
<body class="w-bgcolorF2F2F2">
    <div class="w-height09 w-padding02 w-bgcolorFFF w-borderBeee w-marginBottom01"><h4 class="w-height05 w-color666 w-font14">玉玺</h4></div>
    <div class="w-height09 w-padding02 w-bgcolorFFF w-borderBeee w-flex">
        <h4 class="w-width14 w-height05 w-color666 w-font14 w-floatleft">姓名</h4>
        <input type="text" class="w-block w-height05 w-color333 w-font14 w-flexitem1" placeholder="只需填写一人姓名"/>
    </div>
    <div class="w-height09 w-padding02 w-bgcolorFFF w-borderBeee w-flex w-marginBottom01">
        <h4 class="w-width14 w-height05 w-color666 w-font14 w-floatleft">手机号</h4>
        <h4 class="w-height05 w-color333 w-font14 w-flexitem1 w-font14">15284665775</h4>
    </div>
    <div class="w-height09 w-padding02 w-bgcolorFFF w-borderBeee w-flex">
        <h4 class="w-width14 w-height05 w-color666 w-font14 w-floatleft">费用总计</h4>
        <h4 class="w-height05 w-color333 w-font14 w-flexitem1 w-font14 w-colorfe8285">&yen;18000.00</h4>
    </div>
    <div class="w-height09 w-padding02 w-bgcolorFFF w-borderBeee w-position">
        <h4 class="w-height05 w-color666 w-font14 w-width14 w-floatleft">优惠券</h4>
        <h4 class="w-height05 w-color333 w-font14 w-flexitem1 w-font14">不使用优惠券</h4>
        <b class="w-iconRight"></b>
    </div>
    <div class="w-height09 w-padding02 w-bgcolorFFF w-borderBeee w-flex w-marginBottom01">
        <h4 class="w-width14 w-height05 w-color666 w-font14 w-floatleft">实际应付</h4>
        <h4 class="w-height05 w-color333 w-font14 w-flexitem1 w-font14 w-colorfe8285">&yen;18000.00</h4>
    </div>
    <div class="w-overflowH w-bgcolorFFF w-padding02 w-flex w-marginBottom03">
        <h4 class="w-font14 w-floatleft w-color666 w-width14">订单备注</h4>
        <textarea name="" id="" cols="30" rows="10" class="w-textarea w-flexitem1" placeholder="请输入备注"></textarea>
    </div>
    <input type="button" value="立即支付" class="w-inputA"/>
</body>
<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/con_js.6.23.js"></script>
<script type="text/javascript" src="../lib/date-choice.js"></script>
<script type="text/javascript" src="../lib/judge.js"></script>
<script type="text/javascript" src="../lib/pinchzoom.min.js"></script>
<script type="text/javascript" src="../lib/swiper.min.js"></script>
<script type="text/javascript" src="../lib/uploadPreview.js"></script>
<script type="text/javascript" src="../script/page.js"></script>
<script type="text/javascript" src="../script/malong.js"></script>
<script type="text/javascript" src="../script/maoyuhao.js"></script>
<script type="text/javascript" src="../script/goujia.js"></script>
<script type="text/javascript" src="../script/qinliang.js"></script>
<script type="text/javascript" src="../script/wangqixin.js"></script>
<script type="text/javascript" src="../script/luzhongxiang.js"></script>
</html>