<link href="~/Content/bootstrap-treeview.min.css" rel="stylesheet" />
<script src="~/scripts/bootstrap-treeview.min.js"></script>
<script src="~/Areas/Admin/Scripts/Menu/Index.js"></script>
<div id="tree"></div>
