<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>5商品详情-2门票</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--分享使用-->
    <meta itemprop="name" content="" />
    <meta itemprop="description" name="description" content="" />
    <meta itemprop="image" content="img_url" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../css/my_css.6.21.css" />
    <link rel="stylesheet" type="text/css" href="../css/template.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/NumberBank.css" />
    <link rel="stylesheet" type="text/css" href="../css/goujia.css" />
    <link rel="stylesheet" type="text/css" href="../css/wangqixin.css" />
    <link rel="stylesheet" type="text/css" href="../css/qinliang.css" />
    <link rel="stylesheet" type="text/css" href="../css/malong.css" />
    <link rel="stylesheet" type="text/css" href="../css/maoyuhao.css" />
    <link rel="stylesheet" type="text/css" href="../css/luzhongxiang.css" />
</head>
<body>
    <div class="w-height07 w-bgcolor1F1E1E w-paddingLeftRight02">
        <div class="w-floatright w-font0">
            <b class="w-MyHome"></b>
            <span class="w-MyLine"></span>
            <b class="w-MyStar"></b>
        </div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-wqx"><img src="../images/samallbanner01.png" alt="" /></div>
            <div class="swiper-slide swiper-slide-wqx"><img src="../images/scene.png" alt="" /></div>
            <div class="swiper-slide swiper-slide-wqx"><img src="../images/samallbanner01.png" alt="" /></div>
            <div class="swiper-slide swiper-slide-wqx"><img src="../images/scene.png" alt="" /></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination w-swiper-pagination"></div>
    </div>
    <div class="w-padding02" style="padding-bottom: 0;">
        <div class="w-borderBeee">
            <h4 class="w-color333 w-font14 w-marginBottom01">上海迪士尼乐园</h4>
            <h4 class="w-colorfe8285 w-font18 w-marginBottom01">&yen;450.00</h4>
            <h4 class="w-color333 w-font12 w-marginBottom02">下单前请与店主沟通确认是否有房！</h4>
        </div>
    </div>
    <div class="w-padding02" style="padding-top: .7rem;padding-bottom: 0;">
        <div class="w-flex w-position w-marginBottom05">
            <div class="w-flexitem1 w-pingfen">
                <h4 class="w-font24 w-color333 w-textalignR">4.8</h4><h4 class="w-textalignR w-font13 w-color333">评分</h4>
            </div>
            <b class="w-grayline"></b>
            <div class="w-flexitem1 w-dianping">
                <h4 class="w-font24 w-color333">24</h4><h4 class="w-font13 w-color333">点评</h4>
            </div>
        </div>
        <div class="w-font13 w-color333 w-doubleline w-marginBottom05" style="line-height:.4rem;">
            房子内部虽然有点陈旧，但设施很完善，地理条件很好，加个也很合适，非常好的房东，还贴心的为小孩准备了拖鞋，考虑的很周全。
        </div>
        <div class="w-borderBeee" style="padding-bottom: .5rem;">
            <input type="button" class="w-btn1" value="全部" />
        </div>
    </div>
    <div class="w-imgTextBox">
        <h4 class="w-font14 w-color333" style="width:130px;margin: 0 auto;line-height: 1rem;"><b class="w-grayline2"></b> 图文详情 <b class="w-grayline2"></b></h4>
        <img src="../images/disney.jpg" alt="" />
        <h4 class="w-font14 w-color333 w-line04 w-padding02">迪士尼一直都是小孩子乃至成年人心中的童话乐园，有着很多魔幻神秘色彩的童话主题人物，拍出的动画片更是活灵活现，更有大牌明星的经典演绎，成真了很多人的儿时梦想。迪士尼主题公园邀请了不同的摄影师，通过他们独特的镜头捕捉到主题公园的与众不同。</h4>
        <img src="../images/disney.jpg" alt="" />
    </div>
    <div class="w-paddingLeftRight02" style="padding-bottom: .1rem;;padding-top: 0px;margin-top: .2rem;margin-bottom: .7rem;">
        <div class="w-threebox w-overflowH w-textalignC w-font0 w-marginBottom01" style="border-top: 1px solid #eee;padding-top: .2rem;">
            <span class="w-font13 w-color666">店铺首页</span>
            <span class="w-font13 w-color666" style="border-right: 1px solid #999;border-left: 1px solid #999;">个人中心</span>
            <span class="w-font13 w-color666">关注我们</span>
        </div>
    </div>
    <input type="button" class="w-btn5" value="立即购买" />
    <div class="w-fixedPhone"></div>
</body>
<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/con_js.6.23.js"></script>
<script type="text/javascript" src="../lib/date-choice.js"></script>
<script type="text/javascript" src="../lib/judge.js"></script>
<script type="text/javascript" src="../lib/pinchzoom.min.js"></script>
<script type="text/javascript" src="../lib/swiper.min.js"></script>
<script type="text/javascript" src="../lib/uploadPreview.js"></script>
<script type="text/javascript" src="../script/page.js"></script>
<script type="text/javascript" src="../script/malong.js"></script>
<script type="text/javascript" src="../script/maoyuhao.js"></script>
<script type="text/javascript" src="../script/goujia.js"></script>
<script type="text/javascript" src="../script/qinliang.js"></script>
<script type="text/javascript" src="../script/wangqixin.js"></script>
<script type="text/javascript" src="../script/luzhongxiang.js"></script>
<script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay:3000,
        loop:true,
        paginationType: 'fraction'
    });
</script>
</html>