<link href="~/Areas/Admin/Content/gridtable.css" rel="stylesheet" />

<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:true" style="padding-left:2px; padding-top:1px;margin:1px">
    <form id="send_share_Message_form" style="width:99%;height:99%">
        <table class="styletable">
            <tr>
                <td>收件人</td>
                <td>
                    <label>
                    全部分享客</label>
                </td>
            </tr>
            <tr>
                <td>短信内容</td>
                <td style="width:100%;height:270px">
                    <textarea style="width:100%;height:270px"   name="sContent" id="share_send_message"></textarea>
                   
                </td>
            </tr>
        </table>

    </form>
</div>


