<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>找回密码</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--分享使用-->
    <meta itemprop="name" content="" />
    <meta itemprop="description" name="description" content="" />
    <meta itemprop="image" content="img_url" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/global.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/my_css.6.21.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/template.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/NumberBank.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/goujia.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/wangqixin.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/qinliang.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/malong.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/maoyuhao.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/luzhongxiang.css" />
    <link href="~/Content/home.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Areas/Client/Content/lib/jquery.1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/con_js.6.23.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/date-choice.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/judge.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/pinchzoom.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/swiper.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/uploadPreview.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/page.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/malong.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/maoyuhao.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/goujia.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/qinliang.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/wangqixin.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/luzhongxiang.js"></script>
    <script src="~/scripts/lib/client.common.js"></script>
</head>
<body>
    <section>
        <h4 class="pdlr10 co666 bgf2 hl30">重置密码</h4>
    </section>
    <section class="w-width100 w-overflowH">
        <ul class="lzxregedit w-width100 w-overflowH pdlr10">
            <li class="w-width100 w-flex">
                <span style="background-image:url(/Areas/Client/Content/images/slice/phone.png)"></span>
                <input type="tel" placeholder="请输入手机号码" id="changePasswordPhoneNumber" readonly class="font14 w-color999 w-flexitem1">
            </li>
            <li class="w-width100  w-flex">
                <span style="background-image:url(/Areas/Client/Content/images/slice/lock.png)"></span>
                <input type="password" placeholder="请输入不低于6位密码" id="fpwd" class="font14 w-color999 w-flexitem1">
            </li>
            <li class="w-width100  w-flex">
                <span style="background-image:url(/Areas/Client/Content/images/slice/lock.png)"></span>
                <input type="password" placeholder="请再次输入不低于6位密码" id="spwd" class="font14 w-color999 w-flexitem1">
            </li>

        </ul>
    </section>

    <div class="lzxsure"><button type="button" id="c_btn" onclick="resetPWD.complete()">完成</button></div>
</body>
</html>
<script>
    /**
    * 用户修改密码操作
    */
    function RestPasswordDomain() { };

    var f = window.common;              //操作对象

    /**
    * 用户修改密码操作原型
    */
    RestPasswordDomain.prototype = {
        /**
        * 初始化页面元素
        */
        init: function () {
            window.common.history.setBackURL("/Client/ClientLogin");
            $("#changePasswordPhoneNumber").val(window.common.getStorageItemNoResident("rs_phone_number"));            
        },

        /*
        * 检查两次密码是否相同
        */
        checkPWD: function () {

            var fpwd = $("#fpwd").val();// 第一次输入的密码
            var spwd = $("#spwd").val();// 第二次输入的密码

            if (fpwd.length === 0) {
                alert("请输入不低于6位密码", null, 300);
                $("#fpwd").focus();
                return false;
            } else if (fpwd.length < 6) {
                $("#fpwd").focus();
                alert("密码长度不低于6位", null, 300);
                return false;
            }

            if (spwd.length === 0) {
                alert("请再次输入不低于6位密码", null, 300);
                $("#spwd").focus();
                return false;
            } else if (spwd.length < 6) {
                alert("密码长度不低于6位", null, 300);
                $("#spwd").focus();
                return false;
            }

            if (fpwd !== spwd) {
                alert("两次密码不一致，请重新输入", null, 300);
                $("#fpwd").focus();
                return false;
            }

            return true;
        },
        /**
        * 完成
        */
        complete: function () {

            var phoneNumber = $("#changePasswordPhoneNumber").val();            

            if (phoneNumber.length === 0) return alert("请返回上一步填写手机号!",null,300);

            if (this.checkPWD()) {

                var fpwd = $("#fpwd").val();// 第一次输入的密码

                f.post("/Client/ClientPassword/CompleteChangePWD", {
                    phoneNumber: phoneNumber,
                    pwd: fpwd
                }, function (r) {
                    $("#c_btn").prop("disabled", true);

                    alert("修改成功");

                    setTimeout(function () {
                        window.location.href = "/Client/ClientLogin";
                    },1000);
                    
                }, function (r) {
                    alert(r.Msg,null,1000);
                });
            }
        }
    };

    var resetPWD;

    !function (mmd) {
        resetPWD = new RestPasswordDomain();
        resetPWD.init();
    }(window.jQuery);
</script>