@*@model Framework.DTO.EHECD_SysMessageDTO*@

<link href="~/Areas/Admin/Content/gridtable.css" rel="stylesheet" />
<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:true" style="padding-left:2px; padding-top:1px;margin:1px">
    <form id="detailMail" style="width:99%;height:100%">
 
        <input    type="hidden"  name="ID"  @*value="@Model.ID"*@/>
        <div id="getDetail_mail"></div>
    </form>
</div>
