<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <configSections>
    <!--Unity注入容器配置对象-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <!--Unity配置-->
  <unity>    
    <containers>      
      <container name="defaultContainer">
        <!--Unity接口实现映射-->
        <types>
          <!--查询接口-->
          <type type="Framework.Dapper.QueryHelper,Framework.Dapper" mapTo="Framework.Dapper.DapperQueryDBHelper,Framework.Dapper" />
          <!--更新接口-->
          <type type="Framework.Dapper.ExcuteHelper,Framework.Dapper" mapTo="Framework.Dapper.DapperExcuteHelper,Framework.Dapper" />
          <!--用户操作接口-->
          <type type="Framework.BLL.ILogin,Framework.BLL" mapTo="Framework.BLL.UserLogin,Framework.BLL" />
          <!--菜单操作接口-->
          <type type="Framework.BLL.IMenuManager,Framework.BLL" mapTo="Framework.BLL.MenuManager,Framework.BLL" />
          <!--角色操作接口-->
          <type type="Framework.BLL.IRoleManager,Framework.BLL" mapTo="Framework.BLL.RoleManager,Framework.BLL" />
          <!--系统用户操作接口-->
          <type type="Framework.BLL.ISystemUserManager,Framework.BLL" mapTo="Framework.BLL.SystemUserManager,Framework.BLL" />
          <!--系统操作日志接口-->
          <type type="Framework.BLL.ISystemLogManager,Framework.BLL" mapTo="Framework.BLL.SystemLogManager,Framework.BLL" />
          <!--商品种类接口-->
          <type type="Framework.BLL.IGoodsCategoriesManager,Framework.BLL" mapTo="Framework.BLL.GoodsCategoriesManager,Framework.BLL" />
          <!--短消息（创蓝）-->
          <type type="Framework.Validate.IMessager,Framework.Validate" mapTo="Framework.Validate.ChuangLanMessager,Framework.Validate" />
          <!--文章管理接口-->
          <type type="Framework.BLL.IArticle,Framework.BLL" mapTo="Framework.BLL.ArticleManage,Framework.BLL" />
          <!--商品管理接口-->
          <type type="Framework.BLL.IGoodsManager,Framework.BLL" mapTo="Framework.BLL.GoodsManager,Framework.BLL" />
          <!--商品草稿管理接口-->
          <type type="Framework.BLL.IGoodsPreviewViewManager,Framework.BLL" mapTo="Framework.BLL.GoodsPreviewViewManager,Framework.BLL" />
          <!--房态管理接口-->
          <type type="Framework.BLL.IRoomManageManager,Framework.BLL" mapTo="Framework.BLL.RoomManageManager,Framework.BLL" />
          <!--统计分析接口-->
          <type type="Framework.BLL.ICountAnalysisManager,Framework.BLL" mapTo="Framework.BLL.CountAnalysisManager,Framework.BLL" />
          <!--优惠劵管理接口-->
          <type type="Framework.BLL.ICouponManager,Framework.BLL" mapTo="Framework.BLL.CouponManager,Framework.BLL" />
          <!--提现管理接口-->
          <type type="Framework.BLL.IWithCashManager,Framework.BLL" mapTo="Framework.BLL.WithCashManager,Framework.BLL" />
          <!--站内信接口-->
          <type type="Framework.BLL.IMailManager,Framework.BLL" mapTo="Framework.BLL.MailManager,Framework.BLL" />
          <!--会员管理接口-->
          <type type="Framework.BLL.IClientManager,Framework.BLL" mapTo="Framework.BLL.ClientManager,Framework.BLL" />
          <!--评论管理接口-->
          <type type="Framework.BLL.ICommentManager,Framework.BLL" mapTo="Framework.BLL.CommentManager,Framework.BLL" />
          <!--游记管理接口-->
          <type type="Framework.BLL.ITravelNoteManager,Framework.BLL" mapTo="Framework.BLL.TravelNoteManager,Framework.BLL" />
          <!--客房类型管理-->
          <type type="Framework.BLL.IGuestRoomTypeManager,Framework.BLL" mapTo="Framework.BLL.GuestRoomTypeManager,Framework.BLL" />
          <!--店铺信息接口-->
          <type type="Framework.BLL.IShopManager,Framework.BLL" mapTo="Framework.BLL.ShopManager,Framework.BLL" />
          <!--发送短信记录-->
          <type type="Framework.BLL.ISendMessage,Framework.BLL" mapTo="Framework.BLL.SendMessage,Framework.BLL" />
          <!--操作日志接口-->
          <type type="Framework.BLL.IOperateLogManager,Framework.BLL" mapTo="Framework.BLL.OperateLogManager,Framework.BLL" />
          <!--店铺设置接口-->
          <type type="Framework.BLL.IShopSetManager,Framework.BLL" mapTo="Framework.BLL.ShopSetManager,Framework.BLL" />
          <!--基础设置接口-->
          <type type="Framework.BLL.IBaseSettingManager,Framework.BLL" mapTo="Framework.BLL.BaseSettingManager,Framework.BLL" />
          <!--财务管理接口-->
          <type type="Framework.BLL.IFinanceManager,Framework.BLL" mapTo="Framework.BLL.FinanceManager,Framework.BLL" />
          <!--合伙人管理接口-->
          <type type="Framework.BLL.IPartnerManager,Framework.BLL" mapTo="Framework.BLL.PartnerManager,Framework.BLL" />
          <!--首页图文管理接口-->
          <type type="Framework.BLL.IHomePictureManager,Framework.BLL" mapTo="Framework.BLL.HomePictureManager,Framework.BLL" />
          <!--首页图文管理接口-->
          <type type="Framework.BLL.IPasswordManager,Framework.BLL" mapTo="Framework.BLL.PasswordManager,Framework.BLL" />
          <!--订单管理接口-->
          <type type="Framework.BLL.IOrderManager,Framework.BLL" mapTo="Framework.BLL.OrderManager,Framework.BLL" />
          <!--分享海报接口-->
          <type type="Framework.BLL.ISharePosterManager,Framework.BLL" mapTo="Framework.BLL.SharePosterManager,Framework.BLL" />
          <!--微信设置接口-->
          <type type="Framework.BLL.IWechartManager,Framework.BLL" mapTo="Framework.BLL.WechartManager,Framework.BLL" />
          <!--维权订单接口-->
          <type type="Framework.BLL.IReturnOrderManager,Framework.BLL" mapTo="Framework.BLL.ReturnOrderManager,Framework.BLL" />
          <!--客户端首页接口-->
          <type type="Framework.BLL.IClientHomeManager,Framework.BLL" mapTo="Framework.BLL.ClientHomeManager,Framework.BLL" />
          <!--商户端登录接口-->
          <type type="Framework.BLL.IMerchantLoginManager,Framework.BLL" mapTo="Framework.BLL.MerchantLoginManager,Framework.BLL" />
          <!--用户个人中心接口-->
          <type type="Framework.BLL.IClientCenterManager,Framework.BLL" mapTo="Framework.BLL.ClientCenterManager,Framework.BLL" />
          <!--分享中心接口-->
          <type type="Framework.BLL.IShareCenterManager,Framework.BLL" mapTo="Framework.BLL.ShareCenterManager,Framework.BLL" />
          <!--店铺首页接口-->
          <type type="Framework.BLL.IShopDetailManager,Framework.BLL" mapTo="Framework.BLL.ShopDetailManager,Framework.BLL" />
          <!--前端-客户注册接口-->
          <type type="Framework.BLL.IClientRegisterManager,Framework.BLL" mapTo="Framework.BLL.ClientRegisterManager,Framework.BLL" />
          <!--前端-客户登录接口-->
          <type type="Framework.BLL.IClientLoginManager,Framework.BLL" mapTo="Framework.BLL.ClientLoginManager,Framework.BLL" />
          <!--前端-管理员接口-->
          <type type="Framework.BLL.IMerchantManager,Framework.BLL" mapTo="Framework.BLL.MerchantManager,Framework.BLL" />
          <!--前端-订单确认接口-->
          <type type="Framework.BLL.IOrderConfirmManager,Framework.BLL" mapTo="Framework.BLL.OrderConfirmManager,Framework.BLL" />
         <!---订单支付相关接口-->
          <type type="Framework.BLL.IPayManager,Framework.BLL" mapTo="Framework.BLL.PayManager,Framework.BLL" />
        </types>
      </container>
    </containers>
  </unity>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--在线支付Start-->
    <!-- 商户号 -->
    <add key="MerId" value="898110253113585" />
    <!-- 签名证书名称 -->
    <add key="sdk.signCert.name" value="liupo.pfx" />
    <!-- 签名证书密码 -->
    <add key="sdk.signCert.pwd" value="rcs123" />
    <!-- 签名证书类型 -->
    <add key="sdk.signCert.type" value="PKCS12" />
    <!-- 加密证书路径 -->
    <add key="sdk.encryptCert.path" value="D:\\certs\\encrypt.cer" />
    <!-- 前台交易地址 -->
    <add key="sdk.frontTransUrl" value="https://gateway.95516.com/gateway/api/frontTransReq.do" />
    <!-- 后台交易地址 -->
    <add key="sdk.backTransUrl" value="https://gateway.95516.com/gateway/api/backTransReq.do" />
    <!-- 交易状态查询地址 -->
    <add key="sdk.singleQueryUrl" value="https://gateway.95516.com/gateway/api/queryTrans.do" />
    <!-- 文件传输类交易地址 -->
    <add key="sdk.fileTransUrl" value="https://filedownload.95516.com/" />
    <!-- 批量交易地址 -->
    <add key="sdk.batTransUrl" value="https://gateway.95516.com/gateway/api/batchTrans.do" />
    <!-- 有卡交易地址 -->
    <add key="sdk.cardRequestUrl" value="https://gateway.95516.com/gateway/api/cardTransReq.do" />
    <!-- app交易地址 手机控件支付使用该地址-->
    <add key="sdk.appRequestUrl" value="https://gateway.95516.com/gateway/api/appTransReq.do" />
    <!--支付通知页面-->
    <add key="onlinepay_notify" value="http://xishuai49.xicp.net/Client/Pay/OnlineNotify" />
    <!--在线支付End-->
    
    
    
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  <!--<sessionState mode="SQLServer" sqlCommandTimeout="120" sqlConnectionString="data source=42.96.138.74,4343;uid=ehecduser;password=Ehecd@)!#" cookieless="false" timeout="120" />
    <sessionState mode="SQLServer" sqlCommandTimeout="120" sqlConnectionString="data source=42.96.138.74,4343;uid=ehecduser;password=Ehecd@)!#" cookieless="false" timeout="120" />-->
    <!--<sessionState mode="SQLServer" sqlCommandTimeout="120" sqlConnectionString="data source=10.2.1.199;uid=sa;password=Test1234" cookieless="false" timeout="120" />-->

    <httpHandlers>
    </httpHandlers>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>

    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <!--<add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />-->
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
