<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!-->绑定支付的APPID（必须配置）-->
  <wx.appid>wx5562fdbf0fd36458</wx.appid>
  <!--公众帐号secert（仅JSAPI支付的时候需要配置）-->
  <wx.appsecret>aa6adc98c954b19fcc11f4103b39f475</wx.appsecret>
  <!--商户号（必须配置）-->
  <wx.mchid>1312293101</wx.mchid>
  <!--商户支付密钥，参考开户邮件设置（必须配置）-->
  <wx.mchkey>rdth456u45678987trghnhtbrrghnmnf</wx.mchkey>
  <!--证书路径,注意应该填写绝对路径（仅退款、撤销订单时需要）-->
  <wx.ssl.cert.path>certs/WxPay/apiclient_cert.p12</wx.ssl.cert.path>
  <!--商户证书调用或安装都需要使用到密码，该密码的值为微信商户号（mch_id）-->
  <wx.ssl.cert.password>1312293101</wx.ssl.cert.password>
  <!--支付结果通知回调url，用于商户接收支付结果-->
  <wx.notify.url>http://ykfx.server74.ehecd.com/WithdrawCash/ResultNotify</wx.notify.url>
  <!--此参数可手动配置也可在程序中自动获取-->
  <wx.system.ip>8.8.8.8</wx.system.ip>
  <!--代理服务器IP-->
  <wx.system.proxy.ip>0.0.0.0</wx.system.proxy.ip>
  <!--代理服务器端口-->
  <wx.system.proxy.port>0</wx.system.proxy.port>
</settings>