
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>@ViewBag.sTitle</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--分享使用-->
    <meta itemprop="name" content="" />
    <meta itemprop="description" name="description" content="" />
    <meta itemprop="image" content="img_url" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/global.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/my_css.6.21.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/template.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/NumberBank.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/goujia.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/wangqixin.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/qinliang.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/malong.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/maoyuhao.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Client/Content/css/luzhongxiang.css" />

    <script type="text/javascript" src="~/Areas/Client/Content/lib/jquery.1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/con_js.6.23.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/date-choice.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/judge.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/pinchzoom.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/swiper.min.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/lib/uploadPreview.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/page.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/malong.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/maoyuhao.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/goujia.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/qinliang.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/wangqixin.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Content/script/luzhongxiang.js"></script>
    <style>
        img[src*="img.baidu.com"] {width:auto;display:inline;margin-bottom:0;}
        .lzxdetail span{height:auto;}
    </style>
</head>
<body>
    <div class="lzxdetail mt18 nidayede18">
      @Html.Raw(ViewBag.sContent)
    </div>
</body>
</html>
<script src="~/scripts/lib/client.common.js"></script>