<!--二维码预览-->

<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:true" style="padding-left:2px; padding-top:1px;margin:1px">


    <div id="host_sotry_dord" style="text-align:center;margin-bottom:15px;margin: auto;margin-top:20px;">

    </div>
    <p style="text-align:center;">请用手机扫描预览</p>

</div>
