<!--
***********************************************************
*                                                         *
*                                                         *
*                                                         *
*                                                         *
* 请务必注意！！！                                        *
* 这个只是配置的样例，真正的配置不会从这里读取，          *
* 请到web项目的webconfig中配置，配置格式就按照这个配就行了*
*                                                         *
*                                                         *
*                                                         *
*                                                         *
***********************************************************
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <configSections>
      <!--Unity注入容器配置对象-->
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
    </configSections>

    <!--Unity配置-->
    <unity>
      <container name="defaultContainer">
        <!--Unity接口实现映射-->

        <!--查询接口-->
        <register type="Framework.Dapper.QueryHelper,Framework.Dapper" mapTo="Framework.Dapper.DapperQueryDBHelper,Framework.Dapper"/>
        <!--更新接口-->
        <register type="Framework.Dapper.ExcuteHelper,Framework.Dapper" mapTo="Framework.Dapper.DapperExcuteHelper,Framework.Dapper"/>
        <!--用户操作接口-->
        <register type="Framework.BLL.ILogin,Framework.BLL" mapTo="Framework.BLL.UserLogin,Framework.BLL"/>

      </container>
    </unity>
  </location>
</configuration>