
<script src="~/Areas/Admin/Scripts/HomePicture/Index.js"></script>
<script src="~/scripts/plug-in/qrcode/jquery.qrcode.min.js"></script>
<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:true" style="padding:2px;">
    <form id="home_picture_form" style="width:100%;height:100%;">
        <table id="home_picture_menu"></table>
        <div id="home_picture_tool" style="padding:15px;display:none;">
            @Html.Partial("~/Areas/Admin/Views/Shared/_Button.cshtml")
        </div>
    </form>
</div>
