<link href="~/scripts/plug-in/date/laydate-master/need/laydate.css" rel="stylesheet" />
<link href="~/scripts/plug-in/date/laydate-master/skins/molv/laydate.css" rel="stylesheet" />
<script src="~/scripts/plug-in/date/laydate-master/laydate.dev.js"></script>
<!--订单统计-->
<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:true" style="padding:2px;">
        <form id="order_domain_form" style="width:100%;height:100%" ;>
            <div id="order_domain_grid_tool" style="padding:15px;">
                <a  time="-1" class="easyui-linkbutton  time" data-options="iconCls:'icon-sum'">全部</a>
                <a  time="0"  class="easyui-linkbutton  time" data-options="iconCls:'icon-sum'">今日</a>
                <a  time="1"  class="easyui-linkbutton  time" data-options="iconCls:'icon-sum'">昨日</a>
                <a  time="7"  class="easyui-linkbutton  time" data-options="iconCls:'icon-sum'">最近一周</a>
                <a  time="30" class="easyui-linkbutton  time" data-options="iconCls:'icon-sum'">最近一月</a>
                <span>其他时间</span>
                <input id="dStartTime" name="dStartTime" onclick="laydate({ istime: true })" class="textbox" style="height:25px;" readonly="readonly">--
                <input id="dEndTime"  name="dEndTime" onclick="laydate({ istime: true })" class="textbox" style="height:25px;" readonly="readonly">
                <span>状态</span>
                <!--订单状态0待付款 1待使用 2-已核销-->
                <select class="easyui-combobox" name="iState" style="width:100px;" data-options="panelHeight:'auto'">
                    <option value="-1" selected>全部</option>
                    <option value="0">待付款</option>
                    <option value="1">待使用</option>
                    <option value="2">已核销</option>
                </select>
                @if (ViewBag.tUserType == 0)
                {
                <input class="easyui-textbox" name="sKeyWord" data-options="iconCls:'icon-search',prompt:'店铺名称'" style="width:150px">
                }
                <a id="search_order" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜 索</a>
                <br /><br />
                <span>订单数:</span><span id="OrderCount"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>订单金额:￥</span><span id="OrderMoney"></span>
                
              </div>
            <table id="order_datagrid"></table>
        </form>
</div>
<!-- //用户类型 0：平台用户，1：店铺，2：合伙人-->
<input type="hidden" id="tUserType" value="@ViewBag.tUserType"/>
<script type="text/javascript">
    $(function () {
        modules.get(enums.Modules.CACHE).setMenuDomain("订单统计", new function () {
            var eui = modules.get(enums.Modules.JQUERY_EASYUI);
            var f = modules.get(enums.Modules.FUNC);
            var grid = $("#order_datagrid");
            var tUserType = Number($('#tUserType').val());
            var time=null;
            /**
            * 订单数据的搜索
            */
            $('#search_order').click(function () {
                time = {
                    "dStartTime":$('#dStartTime').val(),
                    "dEndTime":$('#dEndTime').val()
                }
                grid.datagrid('getPager').pagination("select");
            });

            //时间段查询
            $('#order_domain_form .time').click(function () {
                var day = Number($(this).attr("time"));
                var now = new Date();
                if (day == 0) {//今天
                    time = {
                        "dStartTime": new Date().toLocaleDateString() + " 00:00:00",
                        "dEndTime": new Date().toLocaleDateString() + " 23:59:59"
                    }
                }
                if (day == 1) {//昨天    
                    time = {
                        "dStartTime": new Date(now.getTime()- 1* 24 * 60 * 60 * 1000).toLocaleDateString() + " 00:00:00",
                        "dEndTime": new Date(now.getTime() - 1 * 24 * 60 * 60 * 1000).toLocaleDateString() + " 23:59:59"
                    }
                }
                if (day == 7) {//最近一周
                    var week = now.getDay();//(星期为1234560)
                    if(week!=0){
                        time = {
                            "dStartTime": new Date(now.getTime() - (week - 1) * 24 * 60 * 60 * 1000).toLocaleDateString() + " 00:00:00",
                            "dEndTime": new Date(now.getTime() - (week - 7) * 24 * 60 * 60 * 1000).toLocaleDateString() + " 23:59:59",
                            }
                    }
                    else {
                        time = {  
                            "dStartTime": new Date((now.getTime() - 6 * 24 * 60 * 60 * 1000)).toLocaleDateString() + " 00:00:00",
                            "dEndTime":new Date().toLocaleDateString() + " 23:59:59",
                        }
                    }
                }
                if (day == 30) {//最近一个月
                    var year = now.getFullYear();
                    var month = now.getMonth();
                    time = {
                        "dStartTime": new Date(year, month,1).toLocaleDateString() + " 00:00:00",
                        "dEndTime": new Date(year, month+1,0).toLocaleDateString() + " 23:59:59",
                    }
                }
                if (day == -1) {//全部
                    time = {
                        "dStartTime":"",
                        "dEndTime": "",
                    }
                }
                grid.datagrid('getPager').pagination("select");
            });

            /*
            * 加载订单数和订单金额
            */
            function LoadOrderNumAndPrices(data) {
                var array = data.split(',');
                $('#OrderCount').text(array[0]||0);
                $('#OrderMoney').text(array[1]||0);
            }

            /**
             * 载入订单数据数据列表
             * param {Number} pageNumber 页码
             * param {Number} pageSize 每页显示条数
             */
            function LoadOrder(pageNumber, pageSize) {
                try {
                    var param = $("#order_domain_form").serializeObject();
                    /**
                    *默认取一个月的数据*
                    **/
                    var year = new Date().getFullYear();
                    var month = new Date().getMonth();
                    param.dStartTime = new Date(year, month, 1).toLocaleDateString() + " 00:00:00";
                    param.dEndTime = new Date(year, month + 1, 0).toLocaleDateString() + " 23:59:59";
                    if (time) {
                        param.dStartTime = time.dStartTime;
                        param.dEndTime = time.dEndTime;
                    }
                    param.PageIndex/*当前页码*/ = pageNumber;
                    param.pageSize/*每页显示条数*/ = pageSize;
                    f.post("/Admin/CountAnalysis/OrderList", param, function (r) {
                        LoadOrderNumAndPrices(r.Msg);
                        grid.datagrid("loadData", r.Data.Result);
                        grid.datagrid("getPager").pagination({
                            pageNumber: pageNumber,
                            pageSize: pageSize,
                            total: r.Data.MaxCount
                        });
                    }, function (r) {
                        eui.alertErr(r.Msg);
                    });
                } catch (e) {
                    eui.alertErr(e.message);
                }
            }

            /**
             * 初始化grid数据
             */
            function initData() {
                columns = [
                     // { field: 'checkbox', checkbox: true },
                      { field: 'sOrderNo', title: '订单号', align: 'center', width: 180 },
                      { field: 'dBookTime', title: '订单时间', align: 'center', width: 250, },
                      { field: 'iTotalPrice', title: '订单金额', align: 'center', width: 150 },
                      {
                          field: 'iState', title: '状态', align: 'center', width: 80, formatter: function (value) {
                              if (value == 0) return '待付款';
                              if (value == 1) return '待使用';
                              if (value == 2) return '已核销';
                              if (value == 3) return '退款';
                           }
                      },
                      { field: 'sReceiver', title: '下单用户', align: 'center', width: 150 }
                ];
                if (tUserType != 1) { //总后台和合伙人后台
                    columns.splice(3, 0, { field: 'sShopName', title: '店铺名称', align: 'center', width: 150 })
                }
                eui.bindPaginationEvent(grid, {
                    idField: "ID",
                    loadMsg: "正在加载...",
                    toolbar: "#order_domain_grid_tool",
                    fit: true,
                    fitColumns: true,
                    pagination: true,
                    rownumbers: true,
                    columns: [columns],
                    onLoadSuccess: function (data) {
                        $(".datagrid-header-check input[type=checkbox]").remove();
                    },
                }, LoadOrder).pagination("select");
            }

            //执行数据绑定
            try {
                initData();
               // initEvent();
            } catch (e) {
                eui.alertErr(e.message);
            }


            /**
             * 资源的释放
             */
            function destroy(){
            }

            return {
                destroy: destroy
            }
        });
    });
</script>